{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>

    <link rel="icon" href="{% static 'img/favi.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    
    <link rel="stylesheet" href="{% static 'css/senha.css' %}">
</head>
<body>

    <div class="reset-container">
        <h2 id="formTitle">Recupere sua senha</h2>

        <div id="message" class="message"></div>

        <form id="emailForm" action="/recuperar-senha/" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="email" class="input-field" placeholder="Email" required>
            <button type="submit" class="reset-btn">Enviar código</button>
        </form>

        <form id="codeForm" action="/validar-codigo/" method="POST" style="display:none;">
            {% csrf_token %}
            <input type="text" name="codigo" id="codigo" class="input-field" placeholder="Código de 6 dígitos" required>
            <button type="submit" class="reset-btn">Validar código</button>
        </form>

        <form id="passwordForm" action="/redefinir-senha/" method="POST" style="display:none;">
            {% csrf_token %}
            <input type="password" name="nova_senha" id="nova_senha" class="input-field" placeholder="Nova senha" required minlength="8" title="A senha deve ter no mínimo 8 caracteres.">
            <input type="password" name="repetir_nova_senha" id="repetir_nova_senha" class="input-field" placeholder="Repetir nova senha" required>
            <button type="submit" class="reset-btn">Alterar senha</button>
        </form>

        <div class="login-link">
            <a href="/login/">Já tem uma conta? Faça login</a>
        </div>
    </div>

    <script src="{% static 'js/senha.js' %}"></script>
    
</body>
</html>